<div>
  <div class="sub-banner">
    <!-- <img
      src="https://res.cloudinary.com/do9rcgv5s/image/upload/v1669024244/assignment_ReactTS/sub-banner_wsvhod.png"
      alt="Sub Banner"
    /> -->
  </div>
  <div class="infoFooter">
    <div class="contact-phone">
      <h4>CALL TO PURCHASE ( 08:30-22:00 )</h4>
      <div class="infoContent">
        <span class="iconFooter">
          <!-- <ImPhone /> -->
        </span>
        <span class="titleHotline">0982022969</span>
        <span class="moreInfoFooter">Every day of the week</span>
      </div>
    </div>
    <div class="contact-phone">
      <h4>COMMENTS & COMPLAINTS ( 08:30-22:00 )</h4>
      <div class="infoContent">
        <span class="iconFooter">
          <!-- <ImPhone /> -->
        </span>
        <span class="titleHotline">0915988888</span>
        <span class="moreInfoFooter">Every day of the week</span>
      </div>
    </div>
    <div class="form-email">
      <h4>SIGN UP FOR NEW INFORMATION</h4>
      <div class="register">
        <input
          type="text"
          class="input_regBot"
          placeholder="Enter your email here..."
        />
        <button class="btn__register" type="button">REGISTER</button>
      </div>
    </div>
    <div class="follow-us">
      <h4>FOLLOW US</h4>
      <div class="icon-social">
        <ul class="navbar-social">
          <li class="social">
            <a href="#" class="navbar-icon__links">
              <img
                src="https://res.cloudinary.com/do9rcgv5s/image/upload/v1669200313/icons8-facebook_cmwyc3.svg"
                data-sizes="auto"
                alt=""
              />
            </a>
          </li>
          <li class="social">
            <a href="#" class="navbar-icon__links">
              <img
                src="https://res.cloudinary.com/do9rcgv5s/image/upload/v1669200313/icons8-instagram_yuoq0o.svg"
                data-sizes="auto"
                alt=""
              />
            </a>
          </li>
          <li class="social">
            <a href="#" class="navbar-icon__links">
              <img
                src="https://res.cloudinary.com/do9rcgv5s/image/upload/v1669200313/icons8-shopee_jgryq9.svg"
                data-sizes="auto"
                alt=""
              />
            </a>
          </li>
          <li class="social">
            <a href="#" class="navbar-icon__links">
              <img
                src="https://res.cloudinary.com/do9rcgv5s/image/upload/v1669200313/icons8-zalo_kfj8wm.svg"
                alt=""
              />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footerBottom">
    <div class="policies">
      <h5>POLICIES &amp; REGULATIONS</h5>
      <ul class="policise-item">
        <li>
          <a href="#">How to order</a>
        </li>
        <li>
          <a href="#">Membership Policy</a>
        </li>
        <li>
          <a href="#">Delivery policy</a>
        </li>
        <li>
          <a href="#">Terms of return</a>
        </li>
        <li>
          <a href="#">Payments</a>
        </li>
        <li>
          <a href="#">Complaint handling policy</a>
        </li>
      </ul>
    </div>
    <div class="system">
      <h5>SHOP SYSTEM</h5>
      <ul class="system">
        <p>►344 Cau Giay</p>
        <p>►23 Chua Boc, Dong Da</p>
        <p>►338 Nguyen Trai, Ha Dong</p>
        <p>►209 Bach Mai</p>
        <p>►189 Pho Nhon</p>
        <p>►183 Tran Cung</p>
      </ul>
    </div>
    <div class="about-us">
      <h5>ABOUT US</h5>
      <p>
        <strong>LIMITED LIABILITY COMPANY TIME MAN</strong>
      </p>
      <p>
        <strong>Address:</strong>
        344 Cau Giay Street, Dich Vong Ward, <br />
        Cau Giay District, Hanoi City
      </p>
      <p>
        <strong>Business code:</strong>
        0108901419 issued by Hanoi Department of Planning and Investment on
        September 17, 2019
      </p>
      <p>
        <strong>Phone:</strong>
        0982.022.969
      </p>
      <p>
        <strong>Email:</strong>
        timeman.vn@gmail.com
      </p>
      <p>
        <a href="http://online.gov.vn/Home/WebDetails/69075">
          <img
            src="https://res.cloudinary.com/do9rcgv5s/image/upload/v1669023848/assignment_ReactTS/boCongThuong_kracr5.png"
            alt="boCongThuong"
            height="57px"
          />
        </a>
      </p>
    </div>
    <div class="our_fanpage">
      <h5>OUR FANPAGE</h5>
   
    <!-- <iframe 
    src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffpt.poly&tabs=timeline&width=340&height=331&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" 
    frameborder="0",
    width="340px",
    height="331px",
    allowfullscreen="true",
    allow="auto"
    > -->


    <iframe 
    src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffpt.poly&tabs=timeline&width=340&height=331&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" 
    width="340px" height="310px"  allowfullscreen="true" allow="auto"
    frameborder="0,

    "></iframe>

    </div>
  </div>
  <div class="bottomBar"></div>
</div>
