<!-- <div class="container">
  <h1>Welcome to my Angular app with Bootstrap!</h1>
  <h1>Projetc</h1>
  <h3>Tên : {{ user.name }}</h3>
  <h3>Tuổi : {{ user.age }}</h3>
  <h3>Địa chỉ : {{ user.dress }}</h3>
  <button class="btn btn-primary">Click me!</button>
</div> -->


<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">WebSiteName</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Page 1</a></li>
            <li><a href="#">Page 2</a></li>
            <li><a href="#">Page 3</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="jumbotron">
        <h1>Welcome to my website</h1>
        <p>This is a simple website created using Bootstrap.</p>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <h3>Heading 1</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
        </div>
        <div class="col-sm-4">
            <h3>Heading 2</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
        </div>
        <div class="col-sm-4">
            <h3>Heading 3</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
        </div>
    </div>
</div>
