<div class="main-site main-childs">
  <div class="user-wrapper">
    <div class="user-nav">
      <a routerLink="/login">Sign In</a>
      <a routerLink="/register" class="active"> Sign Up </a>
    </div>
    <form acceptCharset="UTF-8" id="formAcount" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input
          type="name"
          id="name"
          name="name"
          [(ngModel)]="credentials.name"
          [ngModelOptions]="{ standalone: true }"
          required
          placeholder="What's your name?"
          autoComplete="off"
        />
        <!-- <Text type="danger">{errors.name?.message}</Text> -->
      </div>
      <div class="form-group">
        <input
          type="email"
          id="email"
          name="email"
          [(ngModel)]="credentials.email"
          [ngModelOptions]="{ standalone: true }"
          required
          placeholder="Enter email or username"
          autoComplete="off"
        />
        <!-- <Text type="danger">{errors.email?.message}</Text> -->
      </div>
      <div class="form-group">
      <input 
      type="password" id="password"  name="password"   placeholder="Password" 
      [(ngModel)]="credentials.password " [ngModelOptions]="{ standalone: true }"
      />
        <!-- <Text type="danger">{errors.password?.message}</Text> -->
      </div>
      <div class="form-group">
      <input type="password" id="rePassword"  
      [(ngModel)]="credentials.confirmPassword" [ngModelOptions]="{ standalone: true }"
      placeholder="Re-Password" />
        <!-- <Text type="danger">{errors.confirmPassword?.message}</Text> -->
      </div>
      <button class="btn btn-signup" type="submit">Sign Up</button>
    </form>
  </div>
</div>
