<div class="container">
  <div class="row" >
    <div class="col-md-4" *ngFor="let product of products">
      <div class="card">
        <!-- <img [src]="product.imgUrl" class="card-img-top" alt="Product Image"> -->
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">Price: {{ product.price }}</p>
          <p class="card-text">categoryId: {{ product.categoryId.name }}</p>
          <p class="card-text btn-desc d-none">{{ product.description }}</p>
          <button class="btn btn-primary" (click)="toggleDesc($event)">Show Description</button>
          <button class="btn btn-primary" (click)="navigateToDetail(product._id)">Detail</button>
          <!-- <a routerLink="" (click)="navigateToDetail(product.id)" ></a> -->
        </div>
      </div>
    </div>
  </div>
</div>

