<h1>Shopping Cart</h1>

<div *ngIf="carts.length > 0" >
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>STT</th>
        <th>Product Name</th>
        <th>IMG</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Thanh tien</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cart of carts; let i = index">
        <td>{{i+1}}</td>
        <td>{{cart.name}}</td>
        <td><img style="width: 100px ; height: 100px;" [src]="cart.image" alt=""></td>
        <td>{{cart.price}}</td>
        <td>
          <!-- {{cart.quantity}} -->
          <button (click)="giamSL(i,cart.quantity ) ">-</button>
          <input (change)="updateQuantity(i ,$event )" type="number" [value]="cart.quantity" style="width:60px;text-align:center;">
          <button (click)="tangSL(i,cart.quantity ) ">+</button>
        </td>
        <td>{{subTotal(cart)}}</td>
        <td>
          <button class="btn btn-sm btn-danger" (click)="removeCart(i)">Xóa</button>
        </td>
      </tr>
    </tbody>
  </table>
  
  <hr>
  <div class="text-center">
    <h3>Tổng số lượng : {{totalQuantity}} </h3>
    <h3>Tổng thanh toán : {{totalPrice}} </h3>
    <a routerLink="" class="btn btn-sm btn-primary">Tiếp tục mua hàng</a>
    <button  (click)="onClear()" class="btn btn-sm btn-danger">Xóa hết tất cả sản phẩm</button>
    <button  class="btn btn-sm btn-primary">Đặt hàng</button>
  </div>
</div>




<!-- <div class="alert alert-primary" role="alert">
  <strong>Alert Heading</strong> <a routerLink="">Click vào đây để tiếp tục mua hàng ...</a>
</div> -->

<div class="alert alert-primary alert-dismissible fade show" role="alert"  *ngIf="carts.length === 0">
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

  <strong>Holy guacamole!</strong>  <a routerLink="">Click vào đây để tiếp tục mua hàng ...</a>
</div>

<!-- <p>Page: {{ page }} of {{ totalPages }}</p>

<primeng-pagination
  [totalRecords]="items.length"
  [pageSize]="10"
  [currentPage]="page"
  (pageChange)="onPageChange($event)"
></primeng-pagination> -->
