<div class="top-bar__left">
  <ul>
    <li>
      <a routerLink="tel:0982022969">
        <!-- <MdPermPhoneMsg /> -->
        <span class="number-phone">
          <b>0867.435.803</b>
        </span>
      </a>
    </li>
  </ul>
</div>
<div class="top-bar__right">
  <ul>
    <li *ngIf="!authenticate">
      <a routerLink="/login">
        <!-- <FaUserCircle /> -->
        <i class="pi pi-user" style="font-size: 1rem"></i>
        <span className="Account">Account</span>
      </a>
    </li>
    <li *ngIf="authenticate?.data.role === 'member' ">
      <a routerLink="/admin">
        <span className="Account">
          Admin | {{authenticate?.data.name}}
        </span>
      </a>
    </li>
    <li>
      <a>
        <span className="Account">
          Hello, {{authenticate?.data.name}}
        </span>
      </a>
    </li>
    <li *ngIf="authenticate">
      <a routerLink="#" (click)="handleLogout()">
        <span className="Account">Đăng xuất</span>
      </a>
    </li>
    
    <li>
      <a routerLink="/cart">
        <!-- <RiShoppingBag3Fill /> -->
        <span class="Cart">Cart </span>
      </a>
    </li>
  </ul>
</div>