<div class="top-bar__left">
  <ul>
    <li>
      <a routerLink="tel:0982022969">
        <!-- <MdPermPhoneMsg /> -->
        <span class="number-phone">
          <b>0867.435.803</b>
        </span>
      </a>
    </li>
  </ul>
</div>
<div class="top-bar__right">
  <ul>
    <li>
      <a routerLink="/login">
        <!-- <FaUserCircle /> -->
        <i class="pi pi-angle-left" style="font-size: 1rem"></i>
        <span className="Account">Account</span>
      </a>
    </li>
    <li>
      <a routerLink="/cart">
        <!-- <RiShoppingBag3Fill /> -->
        <span class="Cart">Cart </span>
      </a>
    </li>
  </ul>
</div>