<div class="mb-5 border-bottom-1 py-4" style="border-color: #ccc;">
    <h1 style="font-size: 35px;">Products Management</h1>
</div>
<div class="mb-3 flex justify-content-between">
    <!-- <p-button icon="pi pi-plus"></p-button> -->
    <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>

    <div class="flex gap-2">
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input type="text" pInputText [(ngModel)]="value" placeholder="search..." />
        </span>
        <p-button styleClass="p-button-danger" icon="pi pi-trash"></p-button>
    </div>
</div>

<p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Product Details" [modal]="true" class="p-fluid">
           <ng-template pTemplate="content">
            <img [src]=" products.image" [alt]="products.image" width="150" class="mt-0 mx-auto mb-5 block shadow-2" *ngIf="products.image">

                <div class="field">
                    <label for="name">Name</label>
                    <input type="text" pInputText id="name" [(ngModel)]="products.name" >
                </div>
                <div class="field">
                    <label for="description">Description</label>
                    <textarea id="description" pInputText id="name" [(ngModel)]="products.description"></textarea>
                </div>
                <div class="field">
                    <label for="image">Image</label>
                    <input type="file" id="image" pInputText id="name" >    
                    <!-- <img [src]="products.image" [alt]="products.name" width="100" class="shadow-4" /> -->

                </div>
                <div class="field">
                    <label for="">category</label>
                        <p-dropdown [options]="categories" [(ngModel)]="categories" placeholder="select" optionLabel="name" inputId="float-label"   ></p-dropdown>                  
                </div>
                <div class="formgrid grid">
                    <div class="field col">
                        <label for="price">Price</label>
                      <p-inputNumber id="price" [(ngModel)]="products.price" mode="currency" currency="USD" locale="en-US"></p-inputNumber>
                    </div>
                    <div class="field col">
                        <label for="quantity">Quantity</label>
                        <p-inputNumber id="quantity" [(ngModel)]="products.price"></p-inputNumber>
                    </div>
                </div>
           </ng-template>
           <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" ></button>
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" ></button>
        </ng-template>
</p-dialog>

<div class="card">
    <p-table
        [value]="products"
        [paginator]="true"
        [rows]="5"
        [showCurrentPageReport]="true"  
        [tableStyle]="{ 'min-width': '50rem' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[10, 25, 50]"
    >
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 4rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th style="min-width:200px">Image</th>
                <th style="min-width:200px" pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                <th style="min-width:200px" pSortableColumn="price">price <p-sortIcon field="price"></p-sortIcon></th>
                <th style="min-width:200px" pSortableColumn="price">decriptions <p-sortIcon field="decriptions"></p-sortIcon></th>

                <th style="min-width:200px">Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>
                    <p-tableCheckbox [value]="product"></p-tableCheckbox>
                </td>
                <td><img style="max-width: 160px;box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;" src={{product.image}} alt=""></td>
                <td style="font-size: 16px;">{{ product.name.slice(0,90) }}...</td>
                <td style="font-weight: bold;font-size: 18px;">{{ product.price }}$</td>
                <td style="font-weight: bold;font-size: 18px;">{{ product.description }}</td>

                <td>
                    <div class="flex gap-3">
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editProduct(product)" ></button>
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"></button>
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
            <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
        </ng-template>
        <ng-template pTemplate="paginatorright">
            <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
        </ng-template>
    </p-table>
</div>